*{
    
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.ctn-app{
    width: 100%;
    height: 100vh;
    background-color: #f6f1f1;
   
}
/* Header de la app */
.ctn-header{
    background-color: #37345E ;
    height: 8%;
    display: flex;
   
    
}
.ctn-header-logo{
  
    text-align: center;
    justify-content: center;
    margin: auto 50px;
    font-size: 20px;
    color: white;
   
    

}

.ctn-colums{
    display: flex;
    height: 90%;
     
}
/* Columna 1 */
.colum1{
  
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 16px;
    

}
.colum1-barraassets{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    height: 49%;
    border-radius: 18px;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
}
.colum1-barrasco{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    height: 49%;
    border-radius: 18px;
    background-color: white;
    padding: 5px;
}
.colum1-barrasco .list-scos{
   height: 60%;
   margin: 6px;
   border: 1px solid gray;
}
.colum1-barrasco #btn-new-sco{
    margin-top: 8px;
    margin-left: 10px;
    background-color: #37345E;
    padding: 4px 10px;
    color: white;
    border-radius: 8px;
    border: none;
}
/* Columna 2  */
.colum2{
    
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 16px 0px  16px 0px;
    border-radius: 18px;
}
.colum2-titulo{
   height: 8%;
   text-align: center;
   background-color: #37345E ;
   border-radius: 18px 18px 0 0;
   display: flex;
   justify-content: center;
}


.colum2-main{
    height: 92%;
    background-color: white;
    border-radius: 0 0 18px 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
}
.colum2 .ctn-intro{
   
   
    text-align: center;
    justify-content: center;
    margin: auto 20px;
    color: #37345E;
}
.colum2 .ctn-intro span{
    padding: 3px;
    border-radius: 2px;
  background-color: #37345E;
  color: white;
    
}
/* Columna 3 */
/* .colum3{
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    width: 15%;
    margin: 16px;
    border-radius: 18px;
    background-color: white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    
   
   

}
.colum3 .colum3-tools{

   
    padding-top: 10px;
}
.colum3 .colum3-titulo{
   
   
    padding: 10px 16px;
}

.colum3-tools{
    height: 50%;
    text-align: center;
    justify-content: center;
}
.colum3-tools button{
    width: 70%;
    background-color: #37345E;
    margin: 3px;
    padding: 3px 5px;
    border-radius: 6px;
    border: 2px solid #37345E;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
} */
/* contendor de Card -------------------------------------*/
#title-cards{
    display: none;
}
.ctn-cards-titulo{
    
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    color: #37345E;
    font-size: 16px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ; */
   
    
}

#ctn-cards-id{
  display: none;
 

}
.ctn-cards{
   
    margin: 0 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    min-height: 400px;
    overflow-x: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}
.card{
    /* margin: 5px;
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    
    width: 170px;
    height: 290px;*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    margin: 10px;
    border-radius:12px ;
    height: 300px;
    min-width: 200px;
    display: flex;
    flex-direction: column; 
}
.card .card-img{
    height: 40%;
    border-radius: 12px 12px 0 0 ;
    /* background-color: aqua; */
}
.card .card-img img{
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 12px 12px 0 0 ;
}
.card .card-content{
    margin: 0px 5px;
    
}
.card .card-content h3{
    margin: 0px 5px;
    
    
}
.card .card-content p{
    margin: 5px;
    margin-bottom: 15px;
    color: rgb(180, 178, 178);
    font-size: 14px;
}
.card .card-content .card-options{
    
    text-align: right;
    margin: 5px;
}
.card .card-content .card-options button{
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: right;
    border-radius: 6px;
    /* background-color: #37345E; */
}

#add {
    border: 1px solid #37345E;
    margin:5px 20px;
    padding: 3px 10px;
    width: 25%;
    text-align: center;
    border-radius: 6px;
    justify-content: center;
   
   
}

#ctn-save{
   display: none;
    
}

#btn-save{
    
    margin: 10px 10px 20px 10px;
    padding: 6px 10px;
    background-color: #37345E;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
}
/* #add .card-add {
    width: 30px;
} */
/* -------------------------------------------------------- */


/* formulario */
.formulario{
 height: 50%;
 
 
}


/* formulario crear card */
.formulario-card-modal {
   /* border: 1px solid #37345E; */
   margin: 6px;
   border-radius: 6px;
   /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ; */
    
}
.formulario-card-modal form{
    margin: 24px;
/*  
    display: flex;
    flex-direction: column; */
}
.formulario-card-modal .inputform{
   padding: 8px;
   /* background-color: aqua; */
   margin: 2px;
    
}
.formulario-card-modal .inputform input{
    
     border: none;
     width: 100%;
     border-bottom: 1px solid gray;
     
 }
 .formulario-card-modal .inputform input:focus{
    
    border: none;
    outline: none;
}
.formulario-card-modal .inputform input:active{
    
    border: none;
    outline: none;
    
}
 .formulario-card-modal .inputform textarea{
  
    border: none;
    width: 100%;
    margin: 2px auto;
    border-bottom: 1px solid gray;
}
.formulario-card-modal .inputform select{
    padding: 10px 3px;
    margin: 6px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(170, 170, 170);
   
   
}


.form-crear-card-options{
    margin-bottom: 20px;
    margin-right: 24px;
    display: flex;
    justify-content: end;
}
.form-crear-card-options button{
   margin: 2px;
   margin-bottom: 6px;
   padding: 2px 12px;
   background-color: #37345E;
   color: white;
   border-radius: 6px;
}

/* Formulario Historia */
#form-hi{
    display: none;
}
.form-div-history{
   
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    border-radius: 8px;
    
    
}
.form-div-history .form-history{
    display: flex;
    flex-direction: column;
    height: 400px;
}
.class-titulo-sco{
    margin-bottom: 6px;
   
    border: none;
    border-bottom: 1px solid rgb(181, 181, 181);
    outline: none;
}

.form-div-history .form-history label{
    margin-bottom: 6px;
    
    padding: 6px ;
    
}

/* formulario crear card */
.formulario-card {
    /* border: 1px solid #37345E; */
    background-color: aqua;
    margin: 6px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
     
 }
 .formulario-card form{
     margin: 24px;
 /*  
     display: flex;
     flex-direction: column; */
 }
 .formulario-card .inputform{
    padding: 8px;
    /* background-color: aqua; */
    margin: 2px;
     
 }
 .formulario-card .inputform input{
     
      border: none;
      width: 100%;
      border-bottom: 1px solid gray;
      
  }
  .formulario-card .inputform input:focus{
     
     border: none;
     outline: none;
 }
 .formulario-card .inputform input:active{
     
     border: none;
     outline: none;
     
 }
  .formulario-card .inputform textarea{
   
     border: none;
     width: 100%;
     margin: 2px auto;
     border-bottom: 1px solid gray;
 }
 .formulario-card .inputform select{
     padding: 10px 3px;
     margin: 6px 0;
     outline: none;
     border: none;
     border-bottom: 1px solid rgb(170, 170, 170);
    
    
 }
 
 
 .form-crear-card-options{
     margin-bottom: 20px;
     margin-right: 24px;
     display: flex;
     justify-content: end;
 }
 .form-crear-card-options button{
    margin: 2px;
    margin-bottom: 6px;
    padding: 2px 12px;
    background-color: #37345E;
    color: white;
    border-radius: 6px;
 }
 
 

 
/* Estilos para la columna de assets */
h2{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1rem;
    margin: 15px 10px;
    margin-right: 30px;
}

.drop-button{
    padding: 4px 10px;
    border-radius: 10px;
    background-color: #37345ed3;
    color: white;
    border: none;
}

.grid-container-barraassets {
    position: relative;
    height: 33vh;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10,auto);
    grid-gap: 10px;
    
    grid-auto-flow: dense;
    overflow-y: auto;
    margin: 5px;
  }
  
.grid-item-barraassets {
    position: relative;
    height:70px;
    background-color: #37345e85;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.grid-item-barraassets img{
    width: inherit;
    height: inherit;
}

#spinner {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner:after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    border-top-color: transparent;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }



 /* Estilos extra para el modal de assets */
 .item-modal-assets img{
    width: inherit;
    height: inherit;
}

#spinner {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner:after {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #37345E;
    border-top-color: transparent;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }