*{
    
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.ctn-app{
  width: 100%;
  height: 100vh;
  background-color: #f6f1f1;
 
}
/* Header de la app */
.ctn-header{
  background-color: #37345E ;
  height: 8%;
  display: flex;
 
  
}
.ctn-header-logo{

  text-align: center;
  justify-content: center;
  margin: auto 50px;
  font-size: 20px;
  color: white;
 
  

}
.ctn-colums{
  display: flex;
  height: 50%;
  justify-content: center;
}
/* Columna 1 */
.colum1{
padding:15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 16px;
  

}
/* Columna 2 */
.colum2{
  padding: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 16px;
  

}
/* Columna 3 */
.colum3{

  padding: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 16px;
  

}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  background: #FFF;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.large-swiper {
  height: 500px;
  overflow: hidden;
  position: relative;
}
.swiper-slide-inside {
	height: 100%;
	width: 100%;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(207, 194, 194);
  padding: 100px;
}
.prev {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 30px;
    height: 30px;
    margin: auto;
    background-color: black;
    z-index: 4;
}
.next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 30px;
    height: 30px;
    margin: auto;
    background-color: black;
    z-index: 4;
}